%h1= tE(<%= class_name %>)

= simple_form_for(@<%= singular_table_name %>, url: resource_url, html: {class: "form-horizontal"}) do |f|
  = render "form", f: f
  = render "admin/shared/edit_resource_links"