%h1= tE(User)

= simple_form_for(@user, :url => resource_url, :html => { :class => "form-horizontal" }) do |f|
  = render :partial => "form", :locals => { :f => f }
  = render :partial => "admin/shared/edit_resource_links"